doctype html
html    
    head 
        title Backgrounds 
        link(href="style.css" rel="stylesheet")
        script(src="script.js")
    body 
        img#bg(src="images/bkg.jpg")
        #backgrounds 
            #backgroundsForPhone
                h2#titles Phone Backgrounds
                #images 
                    img(src="images/background1.jpg", alt="Background1")#imageForPhone
                    img(src="images/background2.jpeg", alt="Background1")#imageForPhone
                    img(src="images/background2.jpg", alt="Background1")#imageForPhone
                    img(src="images/background3.jpg", alt="Background1")#imageForPhone
                    img(src="images/background4.jpg", alt="Background1")#imageForPhone
                    img(src="images/background7.png", alt="Background1")#imageForPhone
                    img(src="images/background10.jpg", alt="Background1")#imageForPhone
            #backgroundsForDesktop
                h2#titles Desktop Backgrounds
                #images 
                    img(src="images/background1.jpeg", alt="Background1")#imageForDesktop
                    img(src="images/background5.jpg", alt="Background1")#imageForDesktop
                    img(src="images/background6.jpg", alt="Background1")#imageForDesktop
                    img(src="images/background7.jpg", alt="Background1")#imageForDesktop
                    img(src="images/background8.jpg", alt="Background1")#imageForDesktop
                    img(src="images/background3.jpeg", alt="Background1")#imageForDesktop
                    img(src="images/background9.jpg", alt="Background1")#imageForDesktop